<link rel="stylesheet" type="text/css" href="//www.cologix.com/portal/jquery-easyui-1.3.1/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="//www.cologix.com/portal/jquery-easyui-1.3.1/themes/icon.css">
<link rel="stylesheet" type="text/css" href="//www.cologix.com/portal/jquery-easyui-1.3.1/demo/demo.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="//www.cologix.com/portal/jquery-easyui-1.3.1/jquery.easyui.min.js"></script>


<style type="text/css">
	a.report{
		text-decoration: dashed;
		color:navy;
	}
</style>

<script>
{stLocations}
{stCustomers}
{stInterconnections}
{stXCs}
{stXCsPaths}
	
	$(function(){
		$('#locations').datagrid({
			singleSelect:true,
			showFooter: true,
			nowrap: false,
			striped: true,
			collapsible:false,
			remoteSort: false,
			idField:'id',
			frozenColumns:[[
				{field:'id',title:'ID',width:0,hidden:true},
				{field:'location',title:'Location',width:150,align:'left'}
			]],
			columns:[[
				{field:'customers',title:'Cust',width:35,align:'right'},
				{field:'sos',title:'SOs',width:40,align:'right'},
				{field:'qty',title:'Bill XC',width:50,align:'right'},
				{field:'xcs',title:'NIM XC',width:50,align:'right'}
			]],
			fit:true
		});
			$('#locations').datagrid('loadData', locationsData);	

	});
	
	$(function(){
		$('#customers').datagrid({
			singleSelect:true,
			showFooter: true,
			nowrap: false,
			striped: true,
			collapsible:false,
			remoteSort: false,
			idField:'id',
			frozenColumns:[[
				{field:'id',title:'ID',width:0,hidden:true},
				{field:'customer',title:'Customer',width:250,align:'left'}
			]],
			columns:[[
				{field:'SOs',title:'SOs',width:30,align:'right'},
				{field:'qty',title:'Bill XC',width:50,align:'right'},
				{field:'xcs',title:'NIM XC',width:50,align:'right'},
				{field:'err',title:'err',width:50,align:'right',hidden:true,
						styler:function(value,row,index){
							if (value == 'err'){
								return 'background-color:#FFB6C1;';
							}
						}
					}
			]],
			fit:true
		});
			$('#customers').datagrid('loadData', customersData);	

	});

	$(function(){
		$('#intercon').datagrid({
			singleSelect:true,
			nowrap: false,
			striped: true,
			collapsible:false,
			remoteSort: false,
			idField:'id',
			showFooter: true,
			frozenColumns:[[
				{field:'id',title:'ID',width:0,hidden:true},
				{field:'sonbr',title:'SO#',width:60,align:'left'}
			]],
			columns:[[
				{field:'item',title:'Item',width:170,align:'left'},
				{field:'qty',title:'Bill XC',width:50,align:'right'},
				{field:'sumqty',title:'SumQty',width:50,align:'right'},
				{field:'service',title:'Service',width:230,align:'left'},
				{field:'xcs',title:'NIM XC',width:50,align:'right'},
				{field:'error',title:'Error',width:50,align:'right',hidden:true,
						styler:function(value,row,index){
							if (value == 'Error'){
								return 'background-color:#FFB6C1;';
							}
						}
					}
			]],
			fit:true,
			
			rowStyler:function(index,row){
				if (row.error == 'Error'){
					return 'background-color:#FFFFB2;';
				}
			}
		});
		$('#intercon').datagrid('loadData', interconnectionsData);
	});

	$(function(){
		$('#XCs').datagrid({
			singleSelect:true,
			nowrap: false,
			striped: true,
			collapsible:false,
			remoteSort: false,
			idField:'id',
			frozenColumns:[[
				{field:'id',title:'ID',width:0,hidden:true},
				{field:'xcid',title:'XCID',width:80,align:'left'}
			]],
			columns:[[
				{field:'carrier',title:'Carrier',width:240,align:'left'},
				{field:'circuit',title:'Circuit',width:250,align:'left'}
			]],
			fit:true
		});
		$('#XCs').datagrid('loadData', xcsData);
	});

	$(function(){
		$('#paths').datagrid({
			singleSelect:true,
			nowrap: false,
			striped: true,
			collapsible:false,
			remoteSort: false,
			idField:'id',
			frozenColumns:[[
				{field:'id',title:'ID',hidden:true},
				{field:'seq',title:'Seq',align:'center'}
			]],
			columns:[[
				{field:'space',title:'Space',align:'center'},
				{field:'name',title:'SpaceID',align:'center'},
				{field:'port',title:'Port',align:'center'},
				{field:'connector',title:'Connector',align:'center'},
				{field:'cable',title:'Tie Cable',align:'center'},
			]],
			fit:true
		});
		$('#paths').datagrid('loadData', pathsData);
	});
	
	$('#tt').tabs('disableTab', 'Space');
	$('#tt').tabs('disableTab', 2);
	$('#tt').tabs('disableTab', 3);
	$('#tt').tabs('disableTab', 4);
	$('#tt').tabs('disableTab', 5);

</script>


<div id="tt" class="easyui-tabs" tools="#tab-tools" style="width:1356px;height:575px;margin:0px 0px 0px 0px;">
<div title="Cross Connects" tools="#p-tools" style="padding:2px 2px 2px 2px;">
	
	<div class="easyui-layout" style="width:1350px;height:540px;">
	
		<div data-options="region:'west',split:true" title="Locations" style="width:340px;">
			<table id="locations"></table>
		</div>
		<div data-options="region:'center',split:true" title="Customers{currentLocation}" style="">
			<table id="customers"></table>
		</div>
		<div data-options="region:'east',split:true" title="Services" style="width:600px;">
			<div class="easyui-layout" data-options="fit:true">  
				<div data-options="region:'north',split:true,border:false" title="Interconnections {currentCustomer}" style="height:240px;">
					<table id="intercon"></table>
				</div>
				<div data-options="region:'south',split:true,border:false" title="Cross Connects Paths{currentXC}" style="height:120px;">
					<table id="paths"></table>
				</div>
				<div data-options="region:'center',border:false" title="Cross Connects{currentService}" style="">
					<table id="XCs"></table>
				</div>
			</div>
		</div>
	</div>
</div>
<div title="Space" tools="#p-tools" style="padding:2px 2px 2px 2px;"></div>
<div title="Power" tools="#p-tools" style="padding:2px 2px 2px 2px;"></div>
<div title="Virtual Cross Connects" tools="#p-tools" style="padding:2px 2px 2px 2px;"></div>
<div title="Equipment" tools="#p-tools" style="padding:2px 2px 2px 2px;"></div>
<div title="Bandwidth" tools="#p-tools" style="padding:2px 2px 2px 2px;"></div>
</div>


</br>
<div style="font-size: 8pt; color: #ccc;">
Usage - {usageConsumtion} / 1000
</div>







