<link rel="stylesheet" type="text/css" href="//www.cologix.com/portal/jquery-easyui-1.3.1/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="//www.cologix.com/portal/jquery-easyui-1.3.1/themes/icon.css">
<link rel="stylesheet" type="text/css" href="//www.cologix.com/portal/jquery-easyui-1.3.1/demo/demo.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="//www.cologix.com/portal/jquery-easyui-1.3.1/jquery.easyui.min.js"></script>

<script> 

{stContacts}
{stHits}
{stDate}
{stDay}

	$(function(){
		$('#contacts').treegrid({
			showFooter: true,
			//rownumbers: true,
			idField:'id',  
			treeField:'entity',
			animate: true,
			columns:[[  
				{field:'id',title:'ID',width:0,hidden:true},  
				{field:'selectrow',title:'SelectRow',width:0,hidden:true},  
				{field:'entity',title:'Entity',width:370},  
				{field:'m001',title:'SEP',width:35,align:'right',styler:cellStyler},
				{field:'m002',title:'OCT',width:35,align:'right',styler:cellStyler}, 
				{field:'m003',title:'NOV',width:35,align:'right',styler:cellStyler},
				{field:'m004',title:'DEC',width:35,align:'right',styler:cellStyler}, 
				{field:'a01',title:'2012',width:35,align:'right',
					styler:function(value,row,index){
							return 'background-color:#E7F5FE;';
					}
				},	
				{field:'m101',title:'JAN',width:35,align:'right',styler:cellStyler}, 
				{field:'m102',title:'FEB',width:35,align:'right',styler:cellStyler}, 
				{field:'m103',title:'MAR',width:35,align:'right',styler:cellStyler}, 
				{field:'m104',title:'APR',width:35,align:'right',styler:cellStyler}, 
				{field:'m105',title:'MAY',width:35,align:'right',styler:cellStyler}, 
				{field:'m106',title:'JUN',width:35,align:'right',styler:cellStyler},
				{field:'m107',title:'JUL',width:35,align:'right',styler:cellStyler},
				{field:'m108',title:'AUG',width:35,align:'right',styler:cellStyler},
				{field:'m109',title:'SEP',width:35,align:'right',styler:cellStyler},
				{field:'m110',title:'OCT',width:35,align:'right',styler:cellStyler},
				{field:'m111',title:'NOV',width:35,align:'right',styler:cellStyler},
				{field:'m112',title:'DEC',width:35,align:'right',styler:cellStyler},
				{field:'a02',title:'2013',width:35,align:'right',
					styler:function(value,row,index){
							return 'background-color:#E7F5FE;';
					}
				}
			]],
			fit:true
		});
			$('#contacts').treegrid('loadData', contactsData);	
			$('#contacts').treegrid('collapseAll');
	
			$('#contacts').treegrid('expand', 11);	
			$('#contacts').treegrid('select', 12);
	});

	$(function(){
		$('#hits').datagrid({
			singleSelect:true,
			nowrap: false,
			striped: true,
			collapsible:false,
			sortName: 'market',
			sortOrder: 'desc',
			remoteSort: false,
			idField:'id',
			columns:[[
				{field:'date',title:'Date',width:70,align:'right',sortable:true},
				{field:'time',title:'Time',width:40,align:'right',sortable:true},
				{field:'ip',title:'IP',width:100,align:'right',sortable:true}
			]],
			fit:true
		});
		$('#hits').datagrid('loadData', hitsData);
	});

	$(function(){
		$('#date').treegrid({
			showFooter: true,	
			//rownumbers: true,
			idField:'id',  
			treeField:'period',
			animate: true,
			columns:[[  
				{field:'id',title:'id',width:0,hidden:true},  
				{field:'year',title:'year',width:0,hidden:true}, 
				{field:'month',title:'month',width:0,hidden:true}, 
				{field:'period',title:'Month',width:85},  
				{field:'sum',title:'SUM',width:40,align:'right',
					styler:function(value,row,index){
							return 'background-color:#E7F5FE;';
					}
				},	
				{field:'d01',title:'01',width:20,align:'right',styler:cellStyler},
				{field:'d02',title:'02',width:20,align:'right',styler:cellStyler},
				{field:'d03',title:'03',width:20,align:'right',styler:cellStyler},
				{field:'d04',title:'04',width:20,align:'right',styler:cellStyler},
				{field:'d05',title:'05',width:20,align:'right',styler:cellStyler},
				{field:'d06',title:'06',width:20,align:'right',styler:cellStyler},
				{field:'d07',title:'07',width:20,align:'right',styler:cellStyler},
				{field:'d08',title:'08',width:20,align:'right',styler:cellStyler},
				{field:'d09',title:'09',width:20,align:'right',styler:cellStyler},
				{field:'d10',title:'10',width:20,align:'right',styler:cellStyler},
				{field:'d11',title:'11',width:20,align:'right',styler:cellStyler},
				{field:'d12',title:'12',width:20,align:'right',styler:cellStyler},
				{field:'d13',title:'13',width:20,align:'right',styler:cellStyler},
				{field:'d14',title:'14',width:20,align:'right',styler:cellStyler},
				{field:'d15',title:'15',width:20,align:'right',styler:cellStyler},
				{field:'d16',title:'16',width:20,align:'right',styler:cellStyler},
				{field:'d17',title:'17',width:20,align:'right',styler:cellStyler},
				{field:'d18',title:'18',width:20,align:'right',styler:cellStyler},
				{field:'d19',title:'19',width:20,align:'right',styler:cellStyler},
				{field:'d20',title:'20',width:20,align:'right',styler:cellStyler},
				{field:'d21',title:'21',width:20,align:'right',styler:cellStyler},
				{field:'d22',title:'22',width:20,align:'right',styler:cellStyler},
				{field:'d23',title:'23',width:20,align:'right',styler:cellStyler},
				{field:'d24',title:'24',width:20,align:'right',styler:cellStyler},
				{field:'d25',title:'25',width:20,align:'right',styler:cellStyler},
				{field:'d26',title:'26',width:20,align:'right',styler:cellStyler},
				{field:'d27',title:'27',width:20,align:'right',styler:cellStyler},
				{field:'d28',title:'28',width:20,align:'right',styler:cellStyler},
				{field:'d29',title:'29',width:20,align:'right',styler:cellStyler},
				{field:'d30',title:'30',width:20,align:'right',styler:cellStyler},
				{field:'d31',title:'31',width:20,align:'right',styler:cellStyler}
			]],
			fit:true
		});
			$('#date').treegrid('loadData', dateData);	
			$('#date').treegrid('select', {curentMonthLine});
	});

	$(function(){
		$('#day').datagrid({
			singleSelect:true,
			nowrap: false,
			striped: true,
			collapsible:false,
			sortName: 'market',
			sortOrder: 'desc',
			remoteSort: false,
			idField:'id',
			columns:[[
				{field:'customer',title:'Customer',align:'left',sortable:true},
				{field:'contact',title:'Contact',align:'left',sortable:true},
				{field:'time',title:'Time',width:70,align:'right',sortable:true},
				{field:'ip',title:'IP',width:110,align:'right',sortable:true}
			]],
			fit:true
		});
		$('#day').datagrid('loadData', dayData);
	});
	
</script>

<div id="tt" class="easyui-tabs" tools="#tab-tools" style="width:1300px;height:600px;margin:0px 0px 0px 0px;">
	<!--------- By Date ----------------------------------------------------------------------------------------------------------------->
	<div title="By Date" tools="#p-tools" style="padding:5px 5px 5px 5px;">
		<div class="easyui-layout" style="width:1287px;height:557px;">
			<div data-options="region:'east',split:true" title="Hits {currentDay}" style="width:500px;">
				<table id="day"></table> 
			</div>
			<div data-options="region:'center',split:true" title="Date" style="">
				<table id="date"></table> 
			</div>
		</div>
	</div>
	<!--------- By Customer ----------------------------------------------------------------------------------------------------------------->
	<div title="By Customer" tools="#p-tools" style="padding:5px 5px 5px 5px;">
		<div class="easyui-layout" style="width:1287px;height:557px;">
			<div data-options="region:'east',split:true" title="Hits" style="width:240px;">
				<table id="hits"></table>
			</div>
			<div data-options="region:'center',split:true" title="Customers" style="">
				<table id="contacts"></table> 
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">  
    function cellStyler(value,row,index){  
        if (value < 0){  
            return 'background-color:#87CEFA;color:black;';  
        }  
    }  
</script> 


