<link rel="stylesheet" type="text/css" href="//www.cologix.com/portal/jquery-easyui-1.3.1/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="//www.cologix.com/portal/jquery-easyui-1.3.1/themes/icon.css">
<link rel="stylesheet" type="text/css" href="//www.cologix.com/portal/jquery-easyui-1.3.1/demo/demo.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="//www.cologix.com/portal/jquery-easyui-1.3.1/jquery.easyui.min.js"></script>

<style type="text/css">
	a.report{
		text-decoration: dashed;
		color:navy;
	}
</style>

<script>

{stCustomers}
{stInterconnections}
{stXCs}
{stXCsPaths}

	$(function(){
		$('#customers').treegrid({
			showFooter: true,
			idField:'id',  
			treeField:'customer',
			//animate: true,
			frozenColumns:[[
				{field:'id',title:'ID',width:0,hidden:true},
				{field:'customer',title:'Location / Customer',width:385,align:'left'}
			]],
			columns:[[
				{field:'cs',title:'Cust',width:40,align:'right'},
				{field:'sos',title:'SOs',width:45,align:'right'},
				{field:'qty',title:'Bill XC',width:50,align:'right'},
				{field:'xcs',title:'NIM XC',width:50,align:'right'}
			]],
			fit:true
		});
			$('#customers').treegrid('loadData', customersData);	
			$('#customers').treegrid('collapseAll');
	
			$('#customers').treegrid('expand', {currentLocationID});	
			$('#customers').treegrid('select', {currentCustomerID});
	});

	$(function(){
		$('#intercon').datagrid({
			singleSelect:true,
			nowrap: false,
			striped: true,
			collapsible:false,
			//sortName: 'market',
			//sortOrder: 'desc',
			remoteSort: false,
			idField:'id',
			showFooter: true,
			frozenColumns:[[
				{field:'id',title:'ID',width:0,hidden:true},
				{field:'sonbr',title:'SO#',width:60,align:'left'}
			]],
			columns:[[
				{field:'item',title:'Item',width:170,align:'left'},
				{field:'qty',title:'Qty',width:30,align:'right'},
				{field:'service',title:'Service',width:325,align:'left'},
				{field:'xcs',title:'XCs',width:30,align:'right'},
				{field:'error',title:'Error',width:50,align:'right',hidden:true,
						styler:function(value,row,index){
							if (value == 'Error'){
								return 'background-color:#FFB6C1;';
							}
						}
					}
			]],
			fit:true,
			
			rowStyler:function(index,row){
				if (row.error == 'Error'){
					return 'background-color:#FFFFB2;';
				}
			}
		});
		$('#intercon').datagrid('loadData', interconnectionsData);
	});

	$(function(){
		$('#XCs').datagrid({
			singleSelect:true,
			nowrap: false,
			striped: true,
			collapsible:false,
			//sortName: 'market',
			//sortOrder: 'desc',
			remoteSort: false,
			idField:'id',
			frozenColumns:[[
				{field:'id',title:'ID',width:0,hidden:true},
				{field:'xcid',title:'XCID',width:80,align:'left'}
			]],
			columns:[[
				{field:'carrier',title:'Carrier',width:240,align:'left'},
				{field:'circuit',title:'Circuit',width:250,align:'left'}
			]],
			fit:true
		});
		$('#XCs').datagrid('loadData', xcsData);
	});

	$(function(){
		$('#paths').datagrid({
			singleSelect:true,
			nowrap: false,
			striped: true,
			collapsible:false,
			//sortName: 'market',
			//sortOrder: 'desc',
			remoteSort: false,
			idField:'id',
			frozenColumns:[[
				{field:'id',title:'ID',hidden:true},
				{field:'seq',title:'Seq',align:'center'}
			]],
			columns:[[
				{field:'space',title:'Space',align:'center'},
				{field:'name',title:'SpaceID',align:'center'},
				{field:'port',title:'Port',align:'center'},
				{field:'connector',title:'Connector',align:'center'},
				{field:'cable',title:'Tie Cable',align:'center'},
			]],
			fit:true
		});
		$('#paths').datagrid('loadData', pathsData);
	});

</script>

<div class="easyui-layout" style="width:1300px;height:600px;">
	<div data-options="region:'east',split:true" style="width:700px;">
		<div class="easyui-layout" data-options="fit:true">  
			<div data-options="region:'north',split:true,border:false" title="SOs / Interconnections {currentLocation} {currentCustomer}" style="height:280px;">
				<table id="intercon"></table>
			</div>
			<div data-options="region:'center',border:false" title="Cross Connects / Paths {currentService}" style="">
				<table id="XCs"></table>
			</div>
		</div>
	</div>
	<div data-options="region:'center',split:true" title="Locations / Customers" style="">
		<table id="customers"></table>
	</div>
</div>
</br>
<div style="font-size: 8pt; color: #ccc;">
Usage - {usageConsumtion} / 1000
</div>









